@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bellinzo Light";
  src: url("/fonts/BellinzoLightLight.woff2") format("woff2"),
    url("/fonts/BellinzoLightLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bellinzo";
  src: url("/fonts/BellinzoRegularRegular.woff2") format("woff2"),
    url("/fonts/BellinzoRegularRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bellinzo Light";
  src: url("/fonts/BellinzoLightLight.woff2") format("woff2"),
    url("/fonts/BellinzoLightLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bellinzo";
  src: url("/fonts/BellinzoBoldBold.woff2") format("woff2"),
    url("/fonts/BellinzoBoldBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bellinzo";
  src: url("/fonts/BellinzoRegularRegular.woff2") format("woff2"),
    url("/fonts/BellinzoRegularRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bellinzo";
  src: url("/fonts/BellinzoBoldBold.woff2") format("woff2"),
    url("/fonts/BellinzoBoldBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
